<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-secondary">&copy; YelpCamp - 2025</span>
    </div>
</footer>

<!-- 
? py-3 : padding - y axis = 3
The py-3 class adds padding on the top and bottom of the element, with a size of 3 (from Bootstrap's spacing scale).
-->
<!-- 
? mt-autp : margin-top = auto
The margin-top: auto; property in CSS means that the top margin will take up any remaining space available in the parent container.
This is often used in flexbox layouts to push elements to the bottom of their container. Here's how it works in context
-->